/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************/

.App {
  text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

h1.pageTitle {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.mdl-card {
    border: 1px solid #bbb;
}

body{
    font-family: 'Raleway', sans-serif;
    background: whitesmoke;
}
main.mdl-layout__content {
    margin-top: 5em;
}
footer{
    position: absolute;
     bottom: 1em; 
    width: 100%;
}
/* Home */
.appHome.mdl-card {
    width: 90vw;
    margin: 0 auto;
    margin-top: 2em;
    border: 1px solid #bbb;
}
.appHome > .mdl-card__title {
  color: black;
  height: 176px;
  background: url('http://static-assets.generalassemb.ly/logos/generalassembly-open-graph.png') center / contain  no-repeat;
}
h2.mdl-card__title-text {
    margin: 0 auto;
    position: relative;
    top: 1em;
}
a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect {
    text-decoration: none;
}
button.mdl-button {
    width: auto;
}

/* Profile  */
.profile-card-square.mdl-card {
  width: 320px;
  height: 500px;
  margin-bottom: 2em;
}
.profile-card-square > .mdl-card__title {
  color: black;
}

h2.mdl-card__title-text.profileName {
    top: 0;
    text-transform: capitalize;
}

div.h4{
    text-decoration: underline;
}

ul li p {
    text-align: left;
}

div.mdl-card__supporting-text ul {
    margin-top: 1em;
}

/* GA colors
#fa4542 red

*/

/* login */
#username{
    text-align: center;
    padding: 15px;
    margin: 10px;
}
#password{
    text-align: center;
    padding: 15px;
    margin: 10px;

}
#login{
    text-align: center;
    padding: 15px;
    margin: 15px;
}
.login-page{
    background-color: lightblue;
    /* position: absolute; */
    border-radius: 30px;
    top:28%;
    right: 30%;
    width: 520px;
    height: 270px;
}
/* Register-page */
#user-reg{
    text-align: center;
    padding: 15px;
    margin: 10px;
}
#password-reg{
    text-align: center;
    padding: 15px;
    margin: 10px;
}
#email{
    text-align: center;
    padding: 15px;
    margin: 10px;
}
#name{
    text-align: center;
    padding: 15px;
    margin: 10px;
}
#last{
    text-align: center;
    padding: 15px;
    margin: 10px;
}
#submit{
    text-align: center;
    color: white;
    background-color:lightblue;
    border-radius: 10px;
    border: 1px white solid;
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    position: absolute;
    right: 25%;
}
.register{
    background-color: lightblue;
    border-radius: 15px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top:30%;
    right: 30%;
    width: 550px;
    height: 400px;
}
.title {
    border: 1px lightblue solid;
    background-color: lightblue;
    color: white;
    border-radius: 10px;
    width: 530px;
    height: 90px;
    padding: 2px;
    margin: 15px;
    position: absolute;
    justify-content: center;
    top: -30%;
    left: -1%;
    /* display: flex; */ 
}
/* Edit Pofile */
#url{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#age{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#class-name{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#cohort{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#interest{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#location{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#bio{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#enter{
    height: 30px;
    width: 100px;
    display: flex;
    bottom: -4%;
    right: 30%;
}
.edit-form{
    height: 100vh;
}

