/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************/

.App {
  text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

h1.pageTitle {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.mdl-card {
    border: 1px solid #bbb;
}

body{
    font-family: 'Raleway', sans-serif;
    background: whitesmoke;
}
main.mdl-layout__content {
    margin-top: 5em;
}
footer{
    position: absolute;
     bottom: 1em; 
    width: 100%;
}
/* Home */
.appHome.mdl-card {
    width: 90vw;
    margin: 0 auto;
    margin-top: 2em;
}
.appHome > .mdl-card__title {
  color: black;
  height: 176px;
  background: url('http://static-assets.generalassemb.ly/logos/generalassembly-open-graph.png') center / contain  no-repeat;
}
h2.mdl-card__title-text {
    margin: 0 auto;
    position: relative;
    top: 1em;
}
a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect {
    text-decoration: none;
}
button.mdl-button {
    width: auto;
}

/* Profile  */
.profile-card-square.mdl-card {
  width: 320px;
  height: 500px;
  margin-bottom: 2em;
}
.profile-card-square > .mdl-card__title {
  color: black;
}

h2.mdl-card__title-text.profileName {
    top: 0;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px black;
}

div.h4{
    text-decoration: underline;
}

ul li p {
    text-align: left;
}

div.mdl-card__supporting-text ul {
    margin-top: 1em;
}

/* GA colors
#fa4542 red

*/

/* login / Register */
div.mdl-textfield input{
    text-align: center;
    padding: 15px;
    width: auto;
    margin: 0 auto;
}
.login-page, .register-page, .edit-form.mdl-card, .message-tab, .events-page{
   background-color: #ffffff;
    border-radius: 5px;
    width: 90vw;
    margin: 0 auto;
    max-height: 80vh;
    overflow: auto;
}
.message-tab{
    margin-bottom: 2em;
    overflow: auto;
}
.message-tab .mdl-card__supporting-text {
    overflow: auto;
}
/*Message Form */
.message-form{
    height: auto;
    width: 90vw;
    margin-top: 5em;
}
.message-form .mdl-card__supporting-text .mdl-textfield{
    width: 100%;
}
.message-form .mdl-card__supporting-text{
    margin: 0 auto;
}
.messageContent {
    text-align: left;
    line-height: 170%;
    padding: 0em 1em;
    border-bottom: 1px solid #bbb;
    margin-bottom: 1em;
}

.messageContent li {
    text-align: justify;
    padding-bottom: 1em;
}
textarea#hello{
    background-color:whitesmoke;
    border: 1px solid lightblue;
    
}
#send{
    background-color: lightblue;
    border-radius: 100px;
    transition: 1s all ease;
}
#send:hover{
    color: black;
}

/* events  */
li.event {
    margin-bottom: 2em;
}

ul.event-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.events-page h2.mdl-card__title-text {align-self: center;}

.events-page .mdl-card__title {height: 100px;align-self: center;}

.events-page .mdl-card__supporting-text {
    height: 150px;
    margin-top: 2em;
}

.events-page .mdl-card__actions.mdl-card--border {
    height: 100px;
}

.events-page .mdl-card__actions a {
    width: 70%;
    top: 1em;
}


h3.subText {
    font-weight: bold;
    margin-bottom: 1em;
}

.events-page .mdl-card__supporting-text h2 {
    text-align: left;
    margin-bottom: 0.5em;
}
.class-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 2em;
}

.class-filter::before {
    content: "Filter by class: ";
}
.class-filter.edit-profile::before {
    content: "Class: ";
}

.class-filter.edit-profile {
    justify-content: space-around;
    align-items: center;
}

.class-filter.edit-profile label {
    display: flex;
    align-items: center;
}
div.mdl-textfield input {
    width: 90%;
}


.mdl-card__supporting-text {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-flow: column;
}

.mdl-textfield.mdl-js-textfield {
    margin: 0 auto;
}
header {
    position: absolute;
    z-index: 999;
}

.mdl-layout__container {
    position: fixed;
}
@media(min-width: 760px){
    .events-page{
        width: 30vw;
    }
}

